.dub
docs.json
__dummy.html
docs/
/c00_hello_d_windows
c00_hello_d_windows.so
c00_hello_d_windows.dylib
c00_hello_d_windows.dll
c00_hello_d_windows.a
c00_hello_d_windows.lib
c00_hello_d_windows-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
